* {
  font-family: 'Montserrat', sans-serif;
  background-color: pink;
  font-size: 62.5%;
  }
  
  h1 {
    font-size: 5rem;
    color: white;
    background-color: transparent;
    text-shadow: 5px white;
  }
  
  button {
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 1.6rem;
    height: 35px;
    width: 150px;
    border: 0px;
  }
  
  h2 {
    font-size: 3rem;
    color: white;
    padding: 0px;
    margin: 20px 5px 5px 5px;
  }
  
  nav {
    font-size: 2.5rem;
    margin: 20px 5px 20px 5px;
  }
  
  section {
    width: 100%;
    height: 40vh;
    background-image: url("Images/IMG_2429.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  .container-header {
    width: 100%;
    height: 80px;
  }
  
  .images { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .images .images1 {
    width: 95%;
    height: 300px;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 0;
    border: 5px solid white;
  }
  
  .container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 20vh;
  }
  
  .buttonC {
  }

  p {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-decoration-line: blink;
    font-weight: bold;
  }

  .images p {
    font-size: 1.6rem;
    text-decoration: none;
    width: 30%;
    padding: 10% 10% 10% 40%;
    font-weight: normal;
  }

  div .I1 {
    display: inline-block;
    text-align: center;
    width: 30%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container-bottom ul {
    width: 100%;
    background-color: white;
  }

  ul a {
    font-size: 1.4rem;
    color: pink;
    text-decoration: none;
    background-color: white;
    width: 75%;
    padding: 8%;
    margin: 2%;
    border: 2px solid pink;
    display: flex;
    flex-wrap: nowrap;
  }

  @media (max-width: 1000px) {
    .I1 {
      width: 20%;
    }
    .images1 {
      height: 200px;
      justify-content: space-around;
    }
    .container-bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

  }

  @media (max-width: 495px) {
    header {
      flex-direction: column;
      margin: 2%;
      width: 100%;
    }
    nav {
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
    }
    section {
      margin-top: 4%;
    }
    div .I1 {
      width: 40%;
      justify-content: space-around;
    }
    .images .images1 {
      height: 150px;
    }
    ul {
      display: none;
    }
  .container-bottom {
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
  }
  .buttonC {
    margin: 0;
  }
  }

